{% extends "noticiario/fluid.html" %}
{% load bootstrap_toolkit %}

{% block conteudo %}
<h1>Dados de contato recebidos</h1>
<table>
    {% for campo in form_contato %}
        <tr>
            <th>{{campo.label}}</th>
            <td>{{campo.value}}</td>
        </tr>
    {% endfor %}
</table>

{% for form_fone in forms_fones %}
<table>
    {% for campo in form_fone %}
        <tr>
            <th>{{campo.label}}</th>
            <td>{{campo.value}}</td>
        </tr>
    {% endfor %}
</table>
{% endfor %}
{% endblock conteudo %}
