{% extends "noticiario/fluid.html" %}
{% load bootstrap_toolkit %}

{% block conteudo %}
<h1>Cadastro de contato</h1>
<form method="post" action=".">
    {% csrf_token %}
    {{form_contato|as_bootstrap}}

<div id="forms_fones">
    {{ forms_fones.management_form }}
    {% for form_fone in forms_fones %}
    <div class="form_fone">
        {{form_fone|as_bootstrap}}
    </div>
    {% endfor %}
</div>
    <div class="actions">
        <button class="btn" type="submit">+ Adicionar fone</button><br /><br />
        <button class="btn btn-primary" type="submit">Enviar</button>
    </div>
</form>
{% endblock conteudo %}
